#picturesContainer {
  display: flex;
  flex-wrap: wrap;
}

#picturesContainer .picture {
  width: 25%;
  box-sizing: border-box;
  margin: 10px;
}

#picturesContainer .picture img {
  width: 100%;
  height: calc(100%*0.8006644518272426)
}