@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    height: 3.5em;
    border-bottom: 2px #CEB5A7 solid;
}

#logo {
    height: 90%;
    margin-top: .2rem;
    margin-left: .5rem;
    margin-right: 1.5rem;
}

.slogan>* {
    float: left;
    margin-top: .3rem;
    margin-right: 1.5rem;
}

ul {
    list-style-type: none;
}

a, a:visited {
    color: #7F675B;
    text-decoration: none;
}

h1 {
    color: #7F675B;
    font-family: 'Lato', sans-serif;
}

h2, h3, p, span {
    color: #7F675B;
    font-family: 'Roboto', sans-serif;
}

.flex {
    text-align: center;
    display: block;
    justify-content: right;
    align-items: align-self;
}

.flex a {
    float: right;
    padding: .5em;
    margin: .5em;
    font-family: 'Roboto', sans-serif;
}

.flex a:hover {
    border-bottom: 2px #7F675B solid;
}

div.introduction-section {

    vertical-align: text-top;
    display: inline-block;
    width: 40%;
    margin-top: 5em;
    margin-left: 8em;
    margin-bottom: 3em;
}

div.introduction-section > h1 {
    font-size: 60px;
    margin-bottom: 1em;

}

div.introduction-section img {
    width: 400px;
    justify-content: right;
    clear: both;
}

.features {
    margin: 5em;
}

.features h1 {
    text-align: center;
    font-size: 50px;
}

div.item {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin: 2.5em;
}

.features img {
    width: 200px;
    height: 200px;
}

.caption {
    font-size: 20px;
    display: block;
}