html,
body, .root{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body{
    align-items: center;
    font-size: 16px;
    background: linear-gradient(-100deg, #FE975A 0%, #F15064 100%);
}

*{
    font-family: Helvetica, sans-serif;
}

.root{
    width: 80%;
}
.container {
    max-width: 32rem;
    display: list-item;
    justify-content: space-between;
    background-color: white;
    border: transparent;
    border-radius: 2px;
    width: 100%;
    height: 30rem;
    list-style: none;
    flex-wrap: wrap;
}

.doodle {
    max-width: 32rem;
    display: list-item;
    justify-content: space-between;
    background-color: white;
    border: transparent;
    border-radius: 2px;
    width: 100%;
    height: 30rem;
    list-style: none;
}

.headerElements h1{
    font-weight: lighter;
}

header{
    padding-top: 10%;
    padding-left: 10%;
    background-color: transparent;
}

header.h1{
    font-style: unset;
    background-color: white;
}

header.p{
    size: 18px;
    color: #848694;
    background-color: white;
}

main{
    background: transparent;
    height: 45%;
    width: content-box;
    display: block;
    justify-content: space-between;
    align-items: stretch;
    padding: 10%;
    padding-bottom: 0px;
    padding-top: 5%;
    border: 5px transparent;
}

.inputData{
    width: 100%;
    height: 65%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color: #00000069;
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-radius: 4px;
    background: transparent;
    outline: none;
    padding: 1rem .5rem;
    margin-bottom: 3%;
    box-sizing: border-box;
}

#createUserBtn{
    font-size: 120%;
    color: white;
    max-width: 10rem;
    width: 37%;
    border: transparent;
    background: linear-gradient(-100deg, #FE975A 0%, #F15064 100%);
    margin-top: 12%;
    margin-left: 53%;
    margin-right: 10%;
    padding: 2%;
}

